__pycache__/
*.egg-info/
.DS_Store
*.pgm.gz
*.cdf
*.png
*.sav
de421.bsp
movies/
build/
dist/
docs/_build/
.vscode/settings.json
tests/.coverage
.vscode/launch.json
*.~vsdx

env*
asilib-env/*
asilib/config.ini
asilib/config.backup
docs/reference/api/*
tests/result_images/*
.coverage

# Whitelist the baseline images folder so any changes are tracked.
!tests/baseline_images/
!tests/baseline_images/**