# Core libraries
beautifulsoup4==4.14.2
matplotlib==3.10.6
numpy == 2.2.6
pandas==2.3.3
requests==2.32.5
scipy
ffmpeg-python==0.2.0
pymap3d==3.2.0
pyshp==2.3.1
aacgmv2==2.7.0
opencv-python >= 4.12.0.88
h5py==3.14.0
astropy==7.1.0

# Dev
bump2version==1.0.1
black==25.9.0
flake8==7.3.0
pytest==8.4.2
pytest-cov==7.0.0
tox==4.30.3

# Docs
sphinx==8.2.3  # 5.3.0
sphinx-copybutton==0.3.1
furo==2025.9.25
nbsphinx==0.9.1
jinja2>3.1.0

-e .