beautifulsoup4==4.9.3
matplotlib==3.10.6
numpy==2.2.6
pandas==2.2.2
requests==2.25.1
scipy
ffmpeg-python==0.2.0
pymap3d==2.5.0
pyshp>=2.3.0
aacgmv2==2.6.0

h5py==3.10.0  # for LAMP.

# Dev
bump2version==1.0.1 # For bumping up the versions
bumpversion==0.6.0
black==23.3.0 # For formatting code.
pytest==7.2.1
pytest-cov==2.12.0

# Docs
sphinx==6.2.1
sphinx-copybutton==0.3.1
furo==2025.9.25
nbsphinx==0.9.1
jinja2>3.1.0
ipython==8.13.0
sphinx-design==0.4.1

-e .